body {
  padding-top: 70px;
  font-family: 'Roboto Slab', serif;
  background-color: #F3FFE2;
  /*background: url('/app/images/books.jpg') center center cover no-repeat fixed;*/
}

select {
  border-radius: 0;
}

h2 {
  font-size: 25px;
  margin-top: 5px;
}

h3 {
  margin-top: 5px;
}

hr {
  border-color: white;
}

.login-page {
  /* Location of the image */
  background-image: url('/app/images/books.jpg');

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  min-height: 645px;
}



/*html, body {
  background: url('/app/images/books.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
}

.dashboard-widget {
  background-color: #225378;
}

.dashboard-widget h2 {
  padding: 10px;
  color: white;
}

.search {
  /*margin-top: 20px;*/
  padding: 0 10px 0 10px;
  background-color: white;
  padding: 10px;
}

.filter {
  margin-top: 20px;
}

.login {
  margin-top: 40px;
  padding: 5px 20px 20px 20px;
  background-color: rgba(223, 223, 223, 0.95);
}

.book {
  margin: 5px;
  padding: 5px;
  height: 200px;
  width: 131px;
  overflow: scroll;
  display: inline-block;
  background-color: #03658C;
  /*background: */
  /*background-image: url('/app/images/book-cover-04.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  color: #D2D7D9;
}

.book a {
  color: white;
  font-size: 16px;
}

.book p {
}


.badge-show-page {
  display: inline-block;
}

.badge-with-title {
  display: inline-block;
  /*height: 125px;*/
  width: 90px;
  margin: 5px;
  vertical-align: top;
  text-align:center;
}

.badge-display {
  height: 85px;
  width: 85px;
  padding: 5px;
  /*margin: 5px;*/
  background-color: #EB7F00;
  display: inline-block;
  border-radius: 10px;
}

.Eagles {
  background-color: #094e98;
}

.Music {
  background-color: #4f9a9a;
}

.Fantasy {
  background-color: #b811e3;
}

.Horror {
  background-color: #8a1b1b;
}

.Adventure {
  background-color: #919191;
}

.Graphic {
  background-color: #c33636;
}

.Mystery {
  background-color: #ff9100;
}

.Biography {
  background-color: #198165;
}

.Sports {
  background-color: #0a0e7b;
}

.Poetry {
  background-color: #b385ad;
}

.Animals {
  background-color: #228a1e;
}

.Historical.Fiction {
  background-color: #e4c03d;
}

.History {
  background-color: #52c944;
}

.Science.Fiction {
  background-color: #2df127;
}

.Science {
  background-color: #605594;
}

.Mythology {
  background-color: #979797;
}

.Nonfiction {
  background-color: #20c3c3;
}

.Fiction {
  background-color: #9a1780;
}

.badge-text {
  margin-left: 10px;
}


.book-list ul {
  list-style: none;
  padding-left: 0;
}

.book-display {
  margin-top: 20px;
}

.book-display h2 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #225378;
  padding: 5px;
  color: white;
}

.book-display hr {
  border-color: #bababa;
  margin-bottom: 10px;
  margin-top: 10px;
}

.book-details {
  background-color: white;
  padding: 5px;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #cbcbcb;
}

.add-book-btn {
  background: rgb(125, 14, 199);
  color: white;
  /*font-size: 14pt;
  margin-top: 10px;
  height: 145px;*/
}

.add-book-btn:hover {
  background: rgba(119, 12, 201, 0.65);
}

/*.in-collection {
  margin-left: 40px;
  margin-top: 10px;
}*/

.my-book-list {
  /*max-height: 200px;
  overflow:scroll;
  border:solid gray 1px;
  border-radius: 5px;*/
}

.form-control {
  border-radius: 0;
}

.form-inline {
  /*margin-left: 75px;*/
  /*width: 90%;*/
}

.btn {
  border-radius: 0;
}

.glyphicon {
  padding: 5px;
}

.my-books, .my-badges, .account-info, .badges {
  background-color: white;
  padding: 10px;
  min-height: 300px;
}


.page-container {
  margin-top: 15px;
}

.scrollme {
  max-height: 200px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.filter-label {
  margin-top: 5px;
}

#mobile-navbar {
  visibility: hidden;
}

.logo {
  height: 50px;
  width: 50px;
  display: inline-block;
  float:left;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

* {margin:0; padding:0; border: 0 none; position: relative;}
.libro {

    display: inline-block;
    /*width: 276px;
    height: 375px;*/
    width: 129px;
    height: 175px;

    margin: 20px 20px 0;
    -moz-transform: scaleX(0.88) scaleY(0.95);
    -moz-perspective: 150px;
    -moz-perspective-origin: right center;

    -webkit-perspective: 150px;
    -webkit-perspective-origin: right center;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: scaleX(0.88) scaleY(0.95);

    -o-perspective: 150px;
    -o-perspective-origin: right center;
    -o-transform-style: preserve-3d;
    -o-transform: scaleX(0.88) scaleY(0.95);

    -ms-perspective: 150px;
    -ms-perspective-origin: right center;
    -ms-transform-style: preserve-3d;
    -ms-transform: scaleX(0.88) scaleY(0.95);

    perspective: 150px;
    perspective-origin: right center;
    transform-style: preserve-3d;
    transform: scaleX(0.88) scaleY(0.95);
}
.libro div {
    /*background: #b6b6b6;*/
    display: block;
    height: 175px;
    width: 129px;
    padding: 5px;
    position: absolute;
    z-index:5;
    -moz-transform: rotateY(-4deg) translateZ(0px);
    -webkit-transform: rotateY(-4deg) translateZ(0px);
    -o-transform: rotateY(-4deg) translateZ(0px);
    -ms-transform: rotateY(-4deg) translateZ(0px);
    transform: rotateY(-4deg) translateZ(0px);
    overflow: scroll;
}

.libro .title {
  color: white;
  font-size: 12pt;
  text-align: center;
}

.libro:before, .libro:after {
content: '';
position: absolute;
}

.libro:before {
    height: 100%;
    width: 40px;
    position: absolute;
    right: -25px;
    top: 0%;
    background: #f3b0f5;
    z-index: 2;
    -moz-transform: rotateY(-4deg) translateZ(0px);
    -webkit-transform: rotateY(-4deg) translateZ(0px);
    -o-transform: rotateY(-4deg) translateZ(0px);
    -ms-transform: rotateY(-4deg) translateZ(0px);
    transform: rotateY(-4deg) translateZ(0px);
}
.libro:after {
    background: #F5F5F5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 18px 3px 20px rgba(0, 0, 0, 0.25) inset;
    height: 98%;
    width: 22px;
    right: -19px;
    top: 1%;
    z-index: 3;
    -moz-perspective: 5px;
    -moz-transform: rotateY(20deg) translateZ(5px);
    -webkit-perspective: 5px;
    -webkit-transform: rotateY(20deg) translateZ(5px);
    -o-perspective: 5px;
    -o-transform: rotateY(20deg) translateZ(5px);
    -ms-perspective: 5px;
    -ms-transform: rotateY(20deg) translateZ(5px);
    perspective: 5px;
    transform: rotateY(20deg) translateZ(5px);
}

.libro span {
    display: block;
    position: absolute;
    /*bottom: -13px;*/
    height: 100px;
    right: -110px;
    height: 100px;
    width: 200px;
    margin-top: 50px;
    background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 15%);
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 15%);
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 15%);
    background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 15%);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 15%);
    border-radius: 15px;
    box-shadow: 5px 12px 15px 5px rgba(0, 0, 0, 0.1);
    -moz-transform: rotate(5deg) skew(-65deg);
    -webkit-transform: rotate(5deg) skew(-35deg);
    -o-transform: rotate(5deg) skew(-35deg);
    -ms-transform: rotate(5deg) skew(-35deg);
    transform: rotate(5deg) skew(-35deg);
}

.navbar {
  list-style: none;
  display: inline-block;
  background-color: #0fadcb;
  min-height: 70px;
  padding: 0;
  border: none;
  z-index: 1000;
}

.navbar-header .brand {
  display: inline-block;
  color: white;
  font-size: 35px;
  /*margin-left: 10px;*/
  margin-top: 10px;
}


.navbar-default .navbar-brand {
  color: white;
  font-size: 40px;
  line-height: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  margin-top: 16px;

}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar-default .navbar-nav>li>a:visited {
  color: white;
}

.navbar-default .navbar-nav>li>button {
  margin-top: 16px;
  margin-right: 20px;
}
/*.navigation li {
  display: inline-block;
}*/

/*.brand {
  display: inline-block;
  color: white;
}*/

.header {
  background-color: #0FADCB;
  color: white;
}



@media (max-width: 768px) {
  #desktop-navbar {
    visibility: hidden;
  }

  #mobile-navbar {
    visibility: visible;
    z-index: 100;
  }

  .navbar-header .brand {
    margin-left: 10px
  }

  .collapse-button {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
  }

  .menu {
    margin-left: 10px;
  }

  .sign-out {
    margin-left: 15px;
  }

  .menu hr {
    margin: 0;
  }

}

/* Libro 3D  */
