body {
  padding-top: 70px;
  font-family: 'Roboto Slab', serif;
  /*background: url('/app/images/books.jpg') center center cover no-repeat fixed;*/
}

.login-page {
  /* Location of the image */
  background-image: url('/app/images/books.jpg');

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  min-height: 645px;
}



/*html, body {
  background: url('/app/images/books.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
}

.search {
  /*margin-top: 20px;*/
  padding: 0 10px 0 10px;
}

.filter {
  margin-top: 20px;
}

.login {
  margin-top: 40px;
  padding: 5px 20px 20px 20px;
  background-color: rgba(223, 223, 223, 0.95);
}

.book {
  margin: 5px;
  padding: 5px;
  height: 200px;
  width: 131px;
  overflow: scroll;
  display: inline-block;
  background-color: #6e1eaf;
  /*background: */
  /*background-image: url('/app/images/book-cover-04.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  color: #d1cccd;
}

.badge-show-page {
  display: inline-block;
}

.badge-with-title {
  display: inline-block;
  height: 160px;
  width: 110px;
  margin: 5px;
  vertical-align: top;
  text-align:center;
}

.badge-display {
  height: 110px;
  width: 110px;
  padding: 5px;
  /*margin: 5px;*/
  background-color: #897dcd;
  display: inline-block;
}


.book a {
  color: #d1cccd;
  font-size: 16px;
}

.book p {
}

.book-list ul {
  list-style: none;
  padding-left: 0;
}

.book-details h2 {
  margin-top: 0;
}

.my-book-list {
  /*max-height: 200px;
  overflow:scroll;
  border:solid gray 1px;
  border-radius: 5px;*/
}

.navbar {
  list-style: none;
  display: inline-block;
  background-color: #0FADCB;
  min-height: 80px;
  padding: 0;
  border: none;
}

.navbar-header .brand {
  display: inline-block;
  color: white;
  font-size: 40px;
  margin-left: 10px;
}


.navbar-default .navbar-brand {
  color: white;
  font-size: 40px;
  line-height: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  margin-top: 20px;

}

.navbar-default .navbar-nav>li>button {
  margin-top: 20px;
  margin-right: 20px;
}
/*.navigation li {
  display: inline-block;
}*/

/*.brand {
  display: inline-block;
  color: white;
}*/

.header {
  background-color: #0FADCB;
  color: white;
}

.form-control {
  border-radius: 0;
}

.form-inline {
  /*margin-left: 75px;*/
  /*width: 90%;*/
}

.btn {
  border-radius: 0;
}

.glyphicon {
  padding: 5px;
}

.my-books, .my-badges, .leaderboard {
  background-color: white;
}

.page-container {
  margin-top: 25px;
}

.scrollme {
  max-height: 200px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

#mobile-navbar {
  visibility: hidden;
}

.logo {
  height: 50px;
  width: 50px;
  display: inline-block;
  float:left;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@media (max-width: 768px) {
  #desktop-navbar {
    visibility: hidden;
  }

  #mobile-navbar {
    visibility: visible;
  }

  .collapse-button {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
  }

  .menu {
    margin-left: 10px;
  }

  .sign-out {
    margin-left: 15px;
  }

  .menu hr {
    margin: 0;
  }

}
