body {
  padding-top: 70px;
}

a:hover {
  text-decoration: none;
}

.search {
  /*margin-top: 20px;*/
  padding: 0 10px 0 10px;
}

.filter {
  margin-top: 20px;
}

.login {
  margin-top: 20px;
  padding: 5px 20px 20px 20px;
  background-color: rgba(223, 223, 223, 0.78);
}


.book-list ul {
  list-style: none;
  padding-left: 0;
}

.navbar {
  list-style: none;
  display: inline-block;
  background-color: #0FADCB;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
/*.navigation li {
  display: inline-block;
}*/

/*.brand {
  display: inline-block;
  color: white;
}*/

.header {
  background-color: #0FADCB;
  color: white;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.glyphicon {
  padding: 5px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
