<div ng-controller="badgesController">
  <div class="container-fluid page-container">
    <div class="badges">

      <div ng-show="loadingBadges">
        <p>Loading Badges . . .</p>
        <img src="app/images/loading.gif" alt="" />
      </div>


        <p>
          Click a badge to see its descrption.
        </p>
        <div ng-repeat="badge in badges | filter:query" ng-click="showBadge(badge)"class="badge-with-title">
          <div class="badge-display {{badge.genre_name}}">
            <img src="{{badge.image.thumb.url}}" alt="" />
          </div>
          <div>{{badge.title}}</div>
        </div>
      </div>

    </div>


</div>
