<div ng-controller="loginController">


  <div class="container-fluid">
    Username: <input type="text" name="some_name" placeholder="email">
    Password: <input type="text" name="some_name" placeholder="password">
    <button name="button">Submit</button>
  </div>

  <div class="body">
    <div>Email: <input ng-model="login_user.email" /></div>
    <div>Password: <input type="password" ng-model="login_user.password" /></div>

    <button ng-click="login()" class="btn btn-primary" >Login</button>
    <button ng-click="logout()" class="btn btn-primary" >Logout</button>
  </div>

</div>
