<div ng-controller="userController">
  <div>
    <table>
      <tr ng-repeat="book in books">
        <td>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </td>
        <td>
          <h4>{{book.title | title:title}}</h4>
        </td>
      </tr>
    </table>
    <!-- <h4>
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>  {{book.title | title:title}}
    </h4> -->
    <!-- <p ui-sref="app.books.detail({id:book.id})">
      {{book.title}}
    </p> -->
  </div>
</div>
