<div ng-controller="navController">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button ng-click="isCollapsed = !isCollapsed" ng-show="showToggle" ng-hide="!showToggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="app.dashboard">Eagle Readers</a>
      </div>

      <div collapse='isCollapsed' class="nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="app.books">Add books</a></li>
          <li><a ui-sref="app.badges">Find Badges</a></li>
          <li><a ui-sref='app.dashboard'>My Dashboard</a></li>
        </ul>

      </div>


    </div>
  </nav>



</div>
