<div ng-controller='indexController'>


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <!-- <button type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <h1><a class="navbar-brand" ui-sref="app.dashboard">Eagle Readers</a></h1>
      </div>

      <div class="nav-collapse">
        <ul ng-if="loggedIn" class="nav navbar-nav navbar-right">
          <li><a ui-sref="app.books">Add books</a></li>
          <li><a ui-sref="app.badges">Find Badges</a></li>
          <li><a ui-sref='app.dashboard'>My Dashboard</a></li>
          <li><button class='btn btn-default' ng-click="handleSignOutBtnClick()">Sign Out</button></li>
        </ul>
      </div>


    </div>
  </nav>

</div>
