<div ng-controller="bookController">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2 col-sm-3 col-xs-offset-1">
        <div ng-show="!bookLoading" class="libro">
          <span></span>
          <div class="{{book.genre}} title">
            {{book.title}}
          </div>
        </div>
      </div>

      <div class="col-md-9 book-display" ng-show="!bookLoading">
        <h3>
          {{book.title}}
          <button ng-click="addBook()" ng-if="!hasBook" ng-show="!buttonLoading" class="add-book-btn btn btn-default">Add Book</button>
          <span class="in-collection" ng-if="hasBook" ng-show="!buttonLoading"><small>In collection!</small></span>
        </h3>

        <div ng-if="book.description" class="">
          {{book.description}}
          <hr>
        </div>
        <span class="glyphicon glyphicon-pencil"></span>
        <span>Written by: {{book.author}}</span>
        <span ng-if="book.pub_date" class="glyphicon glyphicon-time"></span>
        <span ng-if="book.pub_date">Published {{book.pub_date | date: 'yyyy'}}</span>
        <span ng-if="book.pages" class="glyphicon glyphicon-book"></span>
        <span ng-if="book.pages">{{book.pages}} pages</span><br>
        <span class="glyphicon glyphicon-star"></span>
        <span><strong>Genre: </strong>{{book.genre}}</span>
        <span class="glyphicon glyphicon-star"></span>
        <strong>Subjects: </strong><span ng-repeat="subject in subjects">{{subject.name}}, </span><br>
      </div>
    </div>
    <hr>
  </div>
</div>
