
<div ng-controller="booksController" class="container-fluid search">
  <div class="search row">
    <div class="col-md-12">

      <form class="form-inline">

        <div class="form-group" >
          <label>Search books by title:</label>
          <input type="text" ng-model="search.title" class="form-control">
        </div>

        <div class="form-group">
          <label>Search books by author:</label>
          <input type="text" ng-model="search.author" class="form-control">
        </div>

        <div class="form-group">
          <label>Search by genre:</label>
          <select ng-model="search.genre" class="form-control">
            <option value="">All Genres</option>
            <option ng-repeat="genre in genres" value="{{genre.name}}">{{genre.name}}</option>
          </select>
        </div>

        <button class='btn btn-default' id="submit-search" ng-click ="bookSearch()">Search</button>

      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 page-container">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" ui-view="show"></div>
  </div>
  <div class="row ">
    <div class="col-xs-12">

      <div class="row">
        <div class="col-sm-2">
          <div class="search-terms" ng-hide="!results">
            <h4>Results for:</h4>
            <div ng-show="searchTitle">Title: '{{searchTitle}}'</div>
            <div ng-show="searchAuthor">Author: '{{searchAuthor}}'</div>
            <div ng-show="searchGenre">Genre: '{{searchGenre}}'</div>
            <hr>
          </div>

          <div class="filter" ng-hide="!results">
            <form class="form">
              <div class="form-group">
                <label>Filter by title: </label>
                <input type="text" ng-model="query.title" class="form-control">
              </div>

              <div class="form-group">
                <label>Filter by author: </label>
                <input type="text" ng-model="query.author" class="form-control">
              </div>
            </form>
          </div>

        </div>

        <div class="col-sm-10">
          <div class="book-search-results">

            <div ng-show="loadingResults">
              <p>Loading Search Results . . .</p>
              <img src="app/images/loading.gif" alt="" />
            </div>

            <div ng-show='noResults' class="error-message col-xs-12">
              Sorry, no results found.  Try searching again!
            </div>

            <div ng-hide="books.length === 0">
              <div class="book-list">
                <span class="book" ng-repeat="book in books | filter:query:strict">
                  <a ui-sref="app.books.detail({id:book.id})">{{book.title}}</a>
                  <p>Author: {{book.author}}</p>
                </span>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
