<div ng-controller="booksController" class="container-fluid">
  <div class="row">
    <div class="search col-sm-3">
      <form class="form-inline" action="index.html" method="post">
        Search books:
        <input type="text" name="some_name" ng-model="query" class="form-control">
      </form>

      Filter by Subject:
      <select ng-model="subject" class="form-control" id="subject-dropdown">
        <option value="">All</option>
        <option value="fiction">fiction</option>
        <option value="history">history</option>
        <option value="economics">economics</option>
      </select>

    </div>

    <div class="col-sm-9">

      <div class ="book" ng-repeat="book in books | filter:query | subject:subject ">
        <h3><a ui-sref="app.books.detail({id:book.id})">{{book.title}}</a></h3>
        <h4>Author(s): {{book.author}}</h4>
      </div>

    </div>

  </div>
</div>
